{
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./src"
        ],
        "alias": {
          "modules": "./modules",
          "components": "./components",
          "constants": "./constants",
          "store": "./store",
          "reducers": "./reducers",
          "containers": "./containers"
        }
      }
    ]
  ]
}