{
    "plugins": [
      ["module-resolver", {
        "root": ["./src"],
        "alias": {
          "reducers": "./reducers",
          "layouts": "./layouts",
          "components": "./components"
        }
      }]
    ]
  }